<md-card class="card card-section">
  <form #form="ngForm">
  <md-card-title>
    <p>Name:
      <input (blur)="updateCharacter(form)" [(ngModel)]="character.name" name="name"/>
    </p>
  </md-card-title>
  <md-card-content>
    <p>Notes: <br />
      <textarea #area (blur)="updateCharacter(form)" [(ngModel)]="character.notes" name="notes"></textarea>
    </p>
    <p>Publications:</p>
      <select #select name="publications" id="publications">
        <option *ngFor="let pub of publications" value="{{pub.title}}" class="publication-option">{{pub.title}}</option>
      </select>
      <button (click)="addPublication(select.value)">Add</button>
      <div>
        <ul>
          <li *ngFor="let publication of character.publications">{{publication}}</li>
        </ul>
      </div>
    <br />
  </md-card-content>
  </form>
  <button (click)="deleteCharacter()">Delete</button>
</md-card>

