<md-card class="card card-section">
  <form #form="ngForm">
  <md-card-title>
    <p>Name:
      <input (blur)="updateCharacter(form)" [(ngModel)]="character.name" name="name"/>
    </p>
  </md-card-title>
  <md-card-content>
    <p>Notes: <br />
      <textarea #area (blur)="updateCharacter(form)" [(ngModel)]="character.notes" name="notes"></textarea>
    </p>
    <p>Publications: <br />
      <input (blur)="updateCharacter(form)" [(ngModel)]="character.publications" name="publications"/>
    </p>
    <br />
  </md-card-content>
  </form>
</md-card>

