<md-card class="card card-section">
  <form #form="ngForm">
  <md-card-title>
    <p>Name:
      <input (blur)="updateCharacter(form)" [(ngModel)]="character.name" name="name"/>
    </p>
  </md-card-title>
  <md-card-content>
    <p>Notes: <br />
      <textarea #area (blur)="updateCharacter(form)" [(ngModel)]="character.notes" name="notes"></textarea>
    </p>
    <p>Publications:</p>
      <!--<div>
        <ul>
          <li *ngFor="let publication of character.publications"></li>
        </ul>
      </div>-->
      <input (blur)="updateCharacter(form)" [(ngModel)]="character.publications" name="publications"/>
    <br />
  </md-card-content>
  </form>
  <button (click)="deleteCharacter()">Delete</button>
</md-card>

