* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

nav {
  margin:1rem;
  border-bottom:1px solid lightgray;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:hover, nav a:visited  {
  color: #262626;
  background-color: #CFD8DC;
}

nav a.active {
  color: #c9cbd6;
  background-color: beige;
}

.userInfo {
  display: inline-block;
  position: relative;
  margin-left: 50%;
}

.userInfo span:first-child {
  font-weight: 800;
}