.md-list-item {
  max-width: 100%;
  cursor:pointer;
  border-radius: 2px;
  display: inline-block;
  margin: .8rem 0 .8rem 0;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.character {
  max-width:100%;
}

.btn-add-character {
  float:right;
  background-color: #63df70;
  color:white;
  font-size:1.1rem;
}

