.md-list-item {
  max-width: 100%;
  cursor:pointer;
  border-radius: 2px;
  display: inline-block;
  margin: .8rem 0 .8rem 0;
  position: relative;
  width: 300px;
  max-width:100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding:10px 0px;
}

.btn-add-character {
  float:right;
  background-color: #63df70;
  color:white;
  font-size:1.1rem;
}

.md-line {
 white-space: normal;
}

md-icon {
  padding: 4px 0!important;
}
