<md-card class="card-section">
  <md-card-title>Characters
    <button class="btn-add-character" md-mini-fab>
      <md-icon class="md-24">+</md-icon>
    </button>
  </md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item class="character" *ngFor="let item of items" (click)="onSelect(item)">
        <h3 class="item-header" title="{{item.name}}" md-line>{{item.name}}</h3>
        <p class="md-line" md-line title="{{item.notes}}"> {{item.notes}}</p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
